.escritura-boton {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  width: 60%;
  gap: 10px;
  position: relative;
}

.emoji-picker,
.size-picker {
  position: absolute;
  top: -220px;
  /* Adjust as necessary to position above the buttons */
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.emoji-picker {
  left: 0;
  /* Position to the left of the container */
}

.size-picker {
  display: block;
  right: 0;
  /* Position to the right of the container */
}

.estilos-boton {
  position: relative;
  background: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
}

.estilos-enviar {
  padding: 8px;
}

.estilos-enviar:hover {
  background: blue;
  color: white;
}

.contenedor-fuente {
  display: inline-block;
  position: relative;

}

.contenedor-fuente .size-picker {
  top: 30px;
}

.estilos-desplegable {
  position: relative;
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
}

.emoji-picker {
  left: 0;
  /* Position to the left of the container */
}

.size-picker {
  display: block;
  right: 0;
  /* Position to the right of the container */
}

.icon {
  cursor: pointer;
}

  
.escribir-texto {
  flex-grow: 1;
}

.escribir-texto {
  height: 30px;
  width: 60%;
}

.escribir-texto:hover {
  background:burlywood;
}
